@charset "UTF-8";

body {
  padding-top: 110px;
  background-color: #EFF1F3;
}
.main {
  margin: 40px auto;
  width: 90%;
  align-items: baseline;
}
.main h1 {
  margin-bottom: 10px;
}
p {
  margin: 0;
}

/* カートリスト */
.cart_flex {
  width: 60%;
  margin: 0 0 2rem 0;
  background-color: #fff;
  /* box-shadow: 0 0 30px rgba(0,0,0,.1);  */
}

.cartlist a {
  text-decoration: none;
}
/*
.cart_flex::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0px;/*線の上下位置
  display: inline-block;
  width: 93%;/*線の長さ
  height: .5px;/*線の太さ
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);/*位置調整
  background-color: #999;/*線の色
}
*/
  /* カートテキスト */
.cart_text { /* テキスト全体 */
  margin-left: 1.5rem;
}
.cart_text h3 {
  color: #333;
}
.cart_text3 { /* 単価 */
  margin-right: 1rem;
  width: 50%;
}
.cart_text3_p {
  margin-top: .5rem;
}
.cart_text4 { /* 小計 */
  width: 50%;
}
.cart_text4_p {
  margin-top: .5rem;
}
  /* 個数 */
.cart_text2 select {
  padding: 8px 20px 8px 10px;
  border: 1px solid #c1c8ce;
}
  /* 個数変更ボタン */
.change {
  padding: .4rem .8rem;
  margin-left: .5rem;
  border: 1px solid #c1c8ce;
  background-color: rgba(0,0,0,0);
}
  /* カートリストの横並び処理 */
.cart_flex {
  display: flex;
  position: relative;
  padding: 1.5rem 0 1rem 1.5rem;
}
.cart_text_flex {
  display: flex;
  margin: 2rem 0 0;
}
.cart_text2_flex { /* 単価・小計 */
  display: flex;
  position: absolute;
  right: 1rem;
  width: 30%;
}
  /* 削除ボタン */
  .cart_deletebtn {
    position: absolute;
    right: 2rem;
    bottom: 1rem;
  }
  button {
    font-size: .8rem;
    font-weight: bold;
    color: #999;
    background-color: rgba(0, 0, 0, 0);
    border-style: none;
  }
  /* バツ印 */
  .cross {
    position: relative;
    top: -.1rem;
    display: inline-block;
    margin-right: .3rem;
  	width: 1.6em;
  	height: .08em;
    vertical-align: middle;
  	cursor: pointer;
  }

  .cross::before, .cross::after {
    display: block;
  	content: "";
  	position: absolute;
  	top: 0;
  	left: 0;
  	width: 100%;
  	height: 100%;
  	background: #999;
    transition: .3s;
  }
  .cross::before {
    transform: rotate(-45deg);
  }
  .cross::after {
    transform: rotate(45deg);
  }
  /* 削除ボタン・ホバー */
  .cart_deletebtn:hover button {
    color: #072948;
  }
  .cart_deletebtn:hover .cross::before {
    background: #072948;
    transform: rotate(45deg);
  }
  .cart_deletebtn:hover .cross::after {
    background: #072948;
    transform: rotate(135deg);
  }

/* 商品合計 */
.summary {
  position: absolute;
  top: 65px;
  right: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  max-width: 430px;
  background-color: #fff;
  /* box-shadow: 0 0 30px rgba(0,0,0,.1); */
}
.sum_text {
  width: 100%;
}
.sum_flex {
  display: flex;
  justify-content: space-between;
}
.sum_contents {
  display: block;
  width: 80%;
  max-width: 400px;
  padding: 1.5rem 0;
}
.sum {
  margin-top: .3rem;
}
hr {
  margin: .3rem 0;
}
/* ボタン・ご注文手続き */
.sum_btn {
  display: inline-block;
  padding: 0.8rem 0;
  margin: 1.5rem 0 1.3rem;
  width: 100%;
  text-align: center;
  text-decoration: none;
  color: #fff;
  border: solid 1px #333;
  background: #333;
  transition: .4s;
}
.sum_btn:hover {
  background: rgba(0,0,0,0);
  color: #333;
}
/* ボタン・買い物を続ける */
.sum_btn2 {
  display: inline-block;
  padding: 0.8rem 0;
  width: 100%;
  text-align: center;
  text-decoration: none;
  border: solid 1px #c1c8ce;
  color: #333;
  transition: .4s;
}
.sum_btn2:hover {
  border: solid 1px #333;
  background-color: #333;
  color: #fff;
}
